* {
    margin: 0;
    padding: 0;
}

body {

    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* navagation bar*/
header {
    padding: 60px 72px;

}

header nav {
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
nav .logo {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-bottom: 20px;
}

/* log image */
nav img {
    width: 24px;
    height: 24px;
    border: 2px;
    top: 24px;

}

.logo p {
    font-family: Gantari;
    font-size: 16px;
    font-weight: bold;
    line-height: 19.2px;
}

/* menu */
nav .menu ul {
    display: flex;
    gap: 24px;
}

.menu li {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: #000000;
    font-family: Gantari;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.3s ease-in;
    animation: all 0.3s linear;
}
    .menu a:hover{
        border-bottom: 2px solid;
    }
/* login -phone*/
nav .login-phone {
    display: flex;
    gap: 24px;
}

/* login */
.login-phone .login {
    gap: 8px;
    display: flex;
}

/* phone */
.login-phone .phone {
    gap: 8px;
    display: flex;
}

/* end of header */

/* Hero secton */
.Hero {
    /* padding: 0px 0px 60px 0px; */
    position: relative;
    padding: 60px 72px;
    margin-top: -6rem;
    margin-bottom: 3rem;

}

.Hero .img-text {
    background-image: url("./Assets/img/R.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.Hero .img-text {
    height: 100px;
    padding: 300px 148px 186px 148px;
    border-radius: 20px;

}

.img-text .text {
    gap: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #054e0af8;

}

.text h1 {
    font-family: Gantari;
    font-size: 60px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    height: 20px;
}

.text p {
    width: 801px;
    height: 54px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

form {
    width: 60%;
    padding: 20px;
    gap: 12px;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 32px 0px #00000026;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 15%;
}


form .search {
    width: 150px;
    height: 50px;
    padding: 2px 20px 2px 20px;
    gap: 10px;
    border-radius: 6px;
    background: #0057FF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    padding: 10px;
    color: #000000;
}

form img {
    height: 24px;
    width: 24px;
}

/* end of hero section */

/* <!-- Discover your featured property --> */
.Discover-features {
    height: 1000px;
    padding: 0px 72px 60px 72px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.Discover-features .text-discover {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card {
    margin-top: -20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 10px;


}

.card1:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.card .card1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 400px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: pop 0.2s ease;

}

.card1 img {
    width: 250px;
    height: 170px;
    border-radius: 20px 20px 0px 0px;

}

.card-text .text1 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;


}

.card-text {
    width: 250px;
    padding-top: 8px;
    gap: 20px;
    border-radius: 0px 0px 12px 12px;
}

.text1 h3 {
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;

}

.icon-1 {
    display: flex;
    flex-direction: column;
    padding: 12px 0px 0px 0px;
    gap: 10px;
    justify-content: space-between;

}

.card1 .text-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    border-top: 1px solid #000000;
    gap: 15px;
}

.text-icons .icon-1-1 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icon-1 p {
    font-size: 12px;
    /* color: red; */
}

.icon-1-1 img {
    width: 24px;
    height: 24px;
}
/* end of hero section */


/* putting action  */
.Plan-action {
    background: #100E2C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 80px;
}

.Plan-action .img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    gap: 15px;
}

.Plan-action .imgtext {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Plan-action .img-left {
    width: 100%;
}

.Plan-action img {
    width: 200px;
    height: 200px;
    border-radius: 12px 0px 0px 0px;
}

.imgtext p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}

.imgtext h2 {
    font-family: Gantari;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
}

.imgtext button {
    width: 200px;
    height: 50px;
    padding: 2px 20px;
    border-radius: 6px;
    background: #0057FF;
    color: #FFFFFF;
    font-weight: bolder;
}

/* end of action plan */

/* client */
.Client {
    width: Fill (1, 440px)px;
    height: Hug (600px)px;
    padding: 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.client-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.client-img {
    width: 100%;
}

.client-text h2 {
    width: 80%;
    font-family: Gantari;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.client-text p {
    font-family: Inter;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 60%;
}

.client-img img {
    width: 416px;
    height: 440px;
    border-radius: 12px;
}
/* end of client side */

/* commercial property */
.Commercial-property {
    height: Hug (667px)px;
    padding: 60px 72px;
    gap: 40px;
    display: flex;
    flex-direction: column;

}

.commercial-card {
    margin-top: -20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 10px;
}

.commercial-card .card1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    height: 400px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: pop 0.2s ease;

}

.commercial-text {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.commercial-text h2 {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.commercial-text p {
    font-size: 16px;
}

/* end commercail */

/* satisfaction */
.satisfaction {
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./Assets/img/Img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 72px;
}

.form-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.form-text .forms {
    width: 300px;
    padding: 40px;
    gap: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #100E2C;
    color: white;

}

.satisfaction-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #FFFFFF;
}

.satisfaction-text h2 {
    font-size: 50px;

}

.forms input {
    border: 1px solid;
    width: 250px;
    padding: 15px;
}

textarea {
    width: 250px;
    height: 150px;
    padding: 10px;
}

.forms button {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: #0057FF;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

/* end of satisfaction */
/* footer */
footer {
    padding: 60px 72px 20px 72px;
    gap: 30px;
    background-color: #100E2C;
    color: white;
    display: flex;
    flex-direction: column;
}

footer .frame1 {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.frame1 .frame11 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.frame111 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.frame11 ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.frame111 li {
    list-style-type: none;

}

.frame111 a {
    text-decoration: none;
    color: #FFFFFF;
    gap: 10px;

}

footer .frame2 {
    border-top: 1px solid white;
}

/* end footer */